<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137859772190-i9o4ugdbradhostqm58nakvcrmj3bsn6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137859772190-i9o4ugdbradhostqm58nakvcrmj3bsn6</string>
	<key>API_KEY</key>
	<string>AIzaSyCcUDKMn9qDsqtdju_q0FQmwA-giWgYN5I</string>
	<key>GCM_SENDER_ID</key>
	<string>137859772190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ceeborider</string>
	<key>PROJECT_ID</key>
	<string>ceebo-1556289443839</string>
	<key>STORAGE_BUCKET</key>
	<string>ceebo-1556289443839.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137859772190:ios:2efea3ef2d1a9d7963e30f</string>
	<key>DATABASE_URL</key>
	<string>https://ceebo-1556289443839.firebaseio.com</string>
</dict>
</plist>